node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
dist
build
.next
out
.DS_Store
.git
.gitignore
.vscode
.env
*.log
*.tgz
verify-output/
docker-compose.override.yml
docker-compose.local.yml
**/package-lock.json
**/yarn.lock
